<div class="header">
  <div class="container">
    <h1>Messenger</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    
    <%= form_for(@actuallistelement) do |f| %>
    	<div class="field">
        	<%= f.text_field :time %>
    	</div>
    	<div class="field">
        	<%= f.text_field :task %>
    	</div>
    	<div class="actions">
      		<%= f.submit "Update" %>
    	</div>
    <% end %>
    
  </div>
</div>
